body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
}
footer .input-field input,
button {
  border-color: #FFFFFF;
}
.chip {
  font-style: italic;
}


/* ChatHistory styles */.collection {
  margin-bottom:130px;
  margin-top: -1px;
  /* float: right; */
  /* text-align: right; */
 }
 .collection-item{
   text-align: left;
 }
 .message-date {
   color: #585858;
 }
 body {
   background: #EEEEEE;
 }

 .circle{
   text-align: right;
 }
 .btn-large{
   text-align: center;
 }