body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
}
footer .input-field input,
button {
  border-color: #FFFFFF;
}
.chip {
  font-style: italic;
}


/* ChatHistory styles */
.collection {
  margin-bottom:130px;
  margin-top: -1px;
  border: 0px !important;
  /* float: right; */
  /* text-align: right; */
 }
 .collection-item{
   text-align: left;
 }
 .message-date {
   color: #ffff;
   font-size: 12px;

 }
 body {
   background: #EEEEEE;
 }

 .collection .collection-item.avatar {
  padding-left: 20px !important;
  position: relative;
  clear: both;
}

 .sender{
  float: left;
  background: #5C73DB;
  padding: 10px 20px 10px 70px;
  border-radius: 5px;
  position: relative;
  max-width: 70%;
  color: white
 }


 .receiver{
  float: right;
  background: #00c854;
  padding: 10px 20px 10px 70px;
  border-radius: 5px;
  position: relative;
  max-width: 70%;
  color: white
 }

 .collection .collection-item{
   background: transparent !important;
   border-bottom: 0px !important;
 }

 .mdi-action-alarm{
   font-size: 12px;
 }

 .topBar{
  height: 45px;
  text-align: right;
  background: #009688 !important;
  vertical-align: center;
  border-bottom: 1px solid grey;
 }
 .topBar button {
   cursor: pointer;
   margin-right: 5px;
   margin-top: 5px;
   display: inline-flex;
 }

 .topBar h5 {
   float: left;
   color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}